/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.challenge {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px hsl(0, 0%, 0%);
    background-color: #684034a0;
  }

#content {
background-color: rgb(69, 28, 24);
.output {
  background-color: #c89e55;
}
}

.problems {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px hsl(0, 0%, 0%);
  background-color: #684034a0;
}
  
.reflection {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px hsl(0, 0%, 0%);
  background-color: #684034a0;
}

.results {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px hsl(0, 0%, 0%);
  background-color: #684034a0;
}

.text p {
  display: inline-block;
  max-width: 60%;
  margin: 3px;
  padding: 5px 10px;
  border-radius: 15px;
  background-color: rgb(54, 25, 18);
  color: white;
  font-family: sans-serif;
  font-size: 0.8em;
  

}

