/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 10px #e55f0c;
    background-color: #DDD8C4;
  }
  h1 {
        color: green;
        font-size: 150%;
  }
  p {
    text-indent: 25px;

  }
  #content {
    border-style: dotted;
    border-width: 4px;
    border-color:blueviolet;
  }